
.container {
    margin: 20px;
  }
  
  .texto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .texto-input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .contador {
    margin-top: 10px;
  }
  
  .boton {
    width: 100%;
  }